table {
	border-collapse: collapse;
  }
  td{
	  padding: 5px;
  }
table, td, th {
	border: 1px solid blue;
	font-size: 100%;
	background-color: #B6DD5C ;
	
  }

#user{
	text-align: center;
	color: pink;
}
#title{
	color: blue;
	font-size: 20px;
	margin: 7px;
}
fieldset.inline{
	border-block-color: red;
	display: inline;
}
legend{
	text-align: left;
}