table {
	border-collapse: collapse;
	width: 300px;
  }
  td{
	  padding: 5px;
  }
table, td, th {
	border: 1px solid blue;
	
	background-color: #B6DD5C ;
	
  }

#user{
	text-align: center;
	color: pink;
}
#title{
	color: blue;
	font-size: 20px;
	margin: 7px;
}