
body {
    margin: 0px;
}

.cv-document {
	box-sizing: border-box;
	border: none;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	vertical-align: baseline;
	text-decoration: none;
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: arial, sans-serif, tahoma;
	font-size: 10pt;
}

.cv-page {
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    width: 900px;
    min-height: 900px;
    margin: 0 auto;
    box-shadow: 0 0 1px rgba(0,0,0,.5);
    background-color: #fff;
    position: relative;
    padding: 40px
}


#info   {
    display: inline-block;
    width: 49%;
}
#info span {
    text-align: center;
}

#info h1 {
    color: blue;
}



.col-label {
    width: 19%;


    display: inline-block;
}


.col-info {
    width: 79%;
    display: inline-block;
}


#col-info-img {
    position: absolute;
    width: 49%;
    display: inline-block;
}

#col-info-img img {
    width: 80px;
    height: 100px;
    float: right;
}
.section-title {
    text-transform: uppercase;
    border-bottom: 1px solid black
}

#contact-link  a {
    color: blue;
    text-decoration: none;
}

ol {
    padding-inline-start: 20px;
}
#contact-link  {
    border-top: 2px solid black
}

.flex-container {
    display: flex;
    align-items:flex-start;
    /* align-items: stretch; */
}

.child {
    flex-grow: 3;
}

.child-three {
    flex-grow: 7;
    flex-shrink: 0;   /* do not shrink - initial value: 1 */
    flex-basis: 25em; /* width/height  - initial value: auto */
  }