.one{
    font-size: 50px;
    color: red;
}

#body-h2 {
    text-align: center;
	color: #FF3399
}

#head-textbox{
    height: 60px;
    width: 300px;
    border-radius: 8px;
}

#body-textbox{
    height: 60px;
    width: 300px;
    border-radius: 2px;
}

#head-edit{
    border-radius: 4px;
}

#body-edit{
    border-radius: 4px;
}

#head-pause{
    border-radius: 4px;
}

#body-pause{
    border-radius: 4px;
}

#head-save{
    border-radius: 4px;
}

#body-save{
    border-radius: 4px;
}


			
			