
.body-h2 {
	color: #FF3399
}
#d1{
	background-color:#FECFFD"
}
#d2{
	background-color:#FFFFCC"
}
.im{
	width: 400px;
	height: 400px;
}
.subject{
	text-decoration: underline;
	font-weight: bold;
}
h3{
	color: darkgreen;
	text-align: center;
}

.noun{
	font-style: italic;
}
		
.border1{
	border-style: solid;
	border-color: orange;
}
.border2{
	margin: 2px;
	display: block;
	color: orange;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	border-style: solid;
	border-width: thin;
	font-size: 25px;
	border-color: orange;
}
.first-letter{
	color: rgb(121, 16, 16);
	font-style: inherit;
	font-size: 60px;
}
.city{
	color: red;
	font-weight: bold;
}
.shanghai{
	background-color: yellow;
	font-style: italic;
}
			