
@media screen and (max-width: 468px) {

    #nav-container  {
        display: block;
        height: max-content;
      }
    #nav-container p {
        width: 100%;
      }
    .cert-content {
        text-align: start;
    }
    .contact {
        display: none;
    }
    .certificate {
        border-top: 0px;
        border-right: 0px;
        border-left: 0px;
        border-bottom: 0.04x salmon ridge;
        margin-bottom: 15px;
    }
    .icon-contact {
        font-size: xx-large;
    }
    }