
@media screen and (max-width: 468px) {

    #nav-container  {
        display: block;
        height: max-content;
      }
    #nav-container p {
        width: 100%;
      }
    .cert-content {
        text-align: start;
    }
    .contact {
        display: none;
    }
    .icon-contact {
        font-size: xx-large;
    }
    }